@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer Localizer
@inject IConfiguration Configuration
@{
    ViewData["title"] = Localizer["title"];
    Layout = "Layouts/BaseLayout";
    //TODO Write how to setup SEQ in docs
    var seqServer = Configuration.GetSection("Serilog:WriteTo")?.GetChildren()?.Skip(2).FirstOrDefault()?.GetSection("Args:serverUrl")?.Value;
}
@section AddToHead
{
    <link rel="stylesheet" href="~/dist/css/dashboard.min.css" asp-append-version="true"/>
}
@section AddToScripts
{
    <script src="~/dist/js/dashboard.min.js" asp-append-version="true"></script>
}
<div id="wrapper">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold" href="/admin">ERU</a>
    
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/jobs">
                    Hangfire
                </a>
                @if (!string.IsNullOrEmpty(seqServer))
                {
                    <a class="navbar-item" href="@seqServer">
                        Logs
                    </a>
                }
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile is-child box has-text-centered">
                <div class="field">
                    <label for="auto-refresh" class="has-text-weight-bold">Auto Refresh</label>
                    <input id="auto-refresh" type="checkbox" name="auto-refresh-status" class="switch" onchange="toggleRefresh()"/>
                </div>
            </div>
            <div class="tile is-child box">
                <p class="title has-text-centered">Stats</p>
                <table class="table center-table is-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Uptime</td>
                        <td id="uptime">Loading...</td>
                    </tr>
                    <tr>
                        <td>Subscribers</td>
                        <td id="subscribers">Loading...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tile is-child box">
                <p class="title has-text-centered">Classes</p>
                <table class="table center-table is-striped" id="classes-table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Class Name</th>
                        <th>Subscribers</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="container">
                    <div class="field">
                        <label class="label">Year</label>
                        <div class="control">
                            <input id="year-input" class="input" type="number" placeholder="0-12" max="12" min="0"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Section</label>
                        <div class="control">
                            <input id="section-input" class="input" type="text" placeholder="ex. b1"/>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button onclick="createClass()" class="button is-link">Create class</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>