@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model eru.WebApp.Pages.Login

@{
    ViewData["title"] = "Login";
    Layout = "Layouts/FormLayout";
}

@section AddToScripts
{
    <script src="dist/js/login.min.js"></script>
}

<form method="post">
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input type="text" class="input" asp-for="Model.Username"/>
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input type="password" class="input" asp-for="Model.Password"/>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="submit" class="button is-link" value="Submit">
        </div>
        <div class="control">
            <button type="button" onclick="cancel()" class="button is-light">Cancel</button>
        </div>
    </div>
</form>