@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model eru.WebApp.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        Username: 
        <input type="text" asp-for="Model.Username"/>
        Password:
        <input type="password" asp-for="Model.Password"/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>